* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 1000;
}


.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: 'sen', sans-serif;
}

.logo-container {
    flex: 1;
}

.logo {
    font-family: 'sen', sans-serif;
    font-size: 30px;
    color: rgb(0, 25, 181);
}

.menu-container {
    flex: 6;
}

.menu-list-item.active {
    font-weight: bold;
    text-decoration: underline;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
    cursor: pointer;
}

.menu-list-item:hover {
    font-weight: bold;
    text-decoration: underline;
}

.search-bar {
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: flex-end;
    width: max-content;
    height: 20px;
    align-items: center;
    padding: 6px;
    border-radius: 28px;
    background: #c8c7c7;
    transition: background 0.25s;
}

.search-bar:focus-within {
    background: #fffefe;
}

.search-bar:hover {
    background: #f6f6f6;
}

.search-input {
    font-size: 14px;
    font-family: 'sen', sans-serif;
    color: #333333;
    margin-right: 6px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.serach-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, .5);
}

.sign-in-container {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sign-in-button-container {
    width: 40px;
    height: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    right: -15px;
}

.sign-in-form {
    width: 70px;
    height: 25px;
    position: absolute;
}

.sign-in-button {
    width: 70px;
    height: 25px;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.1s ease-in-out;
}

.sign-in-button:hover {
    background-color: rgb(161, 160, 160);
}

.container {
    background-color: #151515;
    min-height: calc(100vh - 60px);
    color: white;
}

.content-container {
    margin: 0;
}

.featured-content {
    padding: 100px;
    min-width: 300px;
    margin-top: 30px;
}

.featured-title {
    width: 25vw;
}

.featured-text {
    width: 40vw;
    color: lightgray;
    margin: 30px 0;
}

.featured-button {
    background-color: white;
    color: black;
    margin: 0 5px;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.featured-button:hover {
    background-color: rgb(161, 160, 160);
}

.feature-list-container {
    padding: 0 20px;
    height: 310px;
}

.titles-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-list-title {
    margin-left: 20px;
    font-size: 34px;
    font-weight: bold;
}

.feature-list-more {
    margin-right: 30px;
    font-size: 18px;
    color: lightgray;
    transition: all 5s ease-in-out;
}

.feature-list-more:hover {
    text-decoration: underline;
    cursor: pointer;
}

.feature-list-wrapper {
    position: relative;
}

.feature-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}


.feature-list-item {
    flex: 1 1 auto;
    width: 200px;
    min-height: 320px;
    margin: 10px;
    position: relative;
}

.feature-list-item:hover .feature-list-item-img {
    transform: scale(1.1);
    opacity: 0.2;
    cursor: pointer;
    
}

.feature-list-item:hover .feature-list-item-title,
.feature-list-item:hover .feature-list-item-description,
.feature-list-item:hover .feature-list-item-button {
    opacity: 1;
    cursor: pointer;
}

.feature-list-item-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all .3s ease-in-out;
    border-radius: 8px;
}

.feature-list-item-title {
    padding: 10px;
    font-size: calc(1vw + 2vh);
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 25px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.feature-list-item-description {
    padding: 10px;
    font-size: calc(.7vw + .5vh);
    position: relative;
    bottom: 150px;
    left: 25px;
    max-width: 200px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.feature-list-item-button {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 130px;
    left: 35px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background-color 0.2s ease-in-out;
}

.feature-list-item-button:hover {
    background-color: gray;
}

.movie-list-container {
    padding: 0 20px;
}

.movie-list-container:hover .arrow{
    opacity: 1;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 230px;
    transform: translateX(0);
    transition: all .5s ease-in-out;
    margin-bottom: 30px;
    margin-top: 10px;
}

.movie-list-item {
    margin-right: 8px;
    position: relative;
    z-index: 1;
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.1);
    opacity: 0.2;
    margin: 10px;
}


.movie-list-item:hover {
    z-index: 100;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-description,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}

.movie-list-item-img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all .4s ease-in-out;
    border-radius: 8px;
}

.movie-list-item-title {
    min-width: 300px;
    justify-self: center;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 5px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.movie-list-item-description {
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 5px;
    width: 200px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.movie-list-item-button {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, background-color 0.2s ease-in-out;
}

.movie-list-item-button:hover {
    background-color: gray;
}

.arrow {
    font-size: 50px;
    position: absolute;
    top: 100px;
    right: 10px;
    color: white;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 940px) {
    .menu-container{
        display: none;
    }
}

footer {
    width: 100%;
    height: 70px;
    background: rgb(60, 57, 57);
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.foot:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cover-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    transition: transform .8s ease-in-out;
}

.cover-slider {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cover-content {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
}

.cover-title {
    position: absolute;
    left: 17%;
    top: 30%;
    width: 300px;
}

.cover-text {
    position: absolute;
    left: 10%;
    color: white;
    width: 40vw;
    margin: 30px 0;
    font-size: 20px;
}

.welcome {
    top: 42%;
}

.sub {
    top: 48%;
}

.cover-button {
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
    bottom: 30%;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.cover-singin {
    left: calc(22% - 10px);
}

.cover-singup {
    left: calc(22% + 100px);
}

.cover-button:hover {
    background-color: rgb(161, 160, 160);
    transform: scale(1.05);
}

.fa-chevron-up {
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: white;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

}

.fa-chevron-up:hover {
    color: rgb(161, 160, 160);
    transform: scale(1.1);
}

@media only screen and (max-width: 556px) {
    .feature-list-item {
        display: none;
    }

    .feature-list-item:nth-child(1) {
        display: block;
    }
}

@media only screen and (min-width: 557px) and (max-width: 776px) {
    .feature-list-item {
        display: none;
    }

    .feature-list-item:nth-child(-n+2) {
        display: block;
    }
}

@media only screen and (min-width: 777px) and (max-width: 996px) {
    .feature-list-item {
        display: none;
    }

    .feature-list-item:nth-child(-n+3) {
        display: block;
    }
}

@media only screen and (min-width: 777px) and (max-width: 996px) {
    .feature-list-item {
        display: none;
    }

    .feature-list-item:nth-child(-n+3) {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .cover-text {
        display: none;
    }

    .cover-title {
        left: 30%;
    }

    .cover-button {
        bottom: 42%;
    }

    .cover-singin {
        left: calc(45% + 100px);
    }

    .cover-singup {
        left: calc(45% - 65px);
    }
}

@media only screen and (max-height: 850px) {
    .cover-text {
        display: none;
    }

    .cover-title {
        left: 30%;
    }

    .cover-button {
        bottom: 42%;
    }

    .cover-singin {
        left: calc(45% + 100px);
    }

    .cover-singup {
        left: calc(45% - 65px);
    }
}
